<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.courseconsultationapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseConsultationApp">
        <activity
            android:name=".InstructorSendEmailActivity"
            android:exported="true" />
        <activity
            android:name=".InstructorMainActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".StudentSendEmailActivity"
            android:exported="true" />
        <activity
            android:name=".ViewQueriesActivity"
            android:exported="true" />
        <activity
            android:name=".PostQueryActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".StudentMainActivity"
            android:exported="true"></activity>
    </application>

</manifest>